{% extends "base.html" %}

{% block body %}
<div class="w3-container w3-light-grey w3-padding-32 w3-padding-large">
    <div class="w3-content" style="max-width:600px">
        <div class="w3-center">
    {% if validlink %}
    <h2>Set a new password</h2>
       <form method="POST">
           {% csrf_token %}
           {% for field in form %}
           <div class="w3-section">
               <label>{{ field.label_tag }}</label>
               <input class="w3-input w3-border" type="password" name="{{ field.name }}">
               {{field.errors}}
               {{ field.help_text }}
           </div>
           {% endfor %}
           <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Submit</button>
       </form>
    {% else %}
        <h2>Password reset failed</h2>
        <p>The password reset link was invalid</p>
        <input type="submit" class="w3-button w3-block w3-black w3-margin-bottom" value="Try again" onclick="window.location.href='{% url 'password_reset_confirm_done' %}'">
    {% endif %}
</div>
</div>
</div>
{% endblock %}