{% extends "base.html" %}

{% block body %}
<div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
    <div class="w3-content" style="max-width:600px">
      <h4 class="w3-center"><b>Change password</b></h4>
      <form method="POST" action="{% url 'password_change' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="w3-section">
            <label>{{ field.label_tag }}</label>
            <input class="w3-input w3-border" type="password" name="{{ field.name }}" required value="{{ field.value }}">
            {{field.errors}}
            {{ field.help_text }}
        </div>
        {% endfor %}
        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Submit</button>
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
      </form>
    </div>
  </div>
{% endblock %}